*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    list-style: none;
    text-decoration: none;
}

body {
    background: linear-gradient(to right, #BEC8E9, #a380ee);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

img {
    width: 100%;
}

header {
    width: 100%;
    height: 120px;
    background: #fefefe;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    border-radius: 0 0 25px 25px;
    margin: 0 auto;
}

.logo {
    width: 200px;
    margin-top: 8px;
}

nav .logo {
    display: none;
}

nav ul {
    display: flex;
}

nav ul li a {
    color: black;
    display: block;
    margin: 0 2px;
    font-weight: 0;
    padding: 8px 18px;
    transition: 0.2s;
    border-radius: 30px;
}

nav ul li a:hover {
    background: linear-gradient(to right, #BEC8E9, #a380ee);
    color: #fefefe;
}

nav ul li a.active {
    background: linear-gradient(to right, #BEC8E9, #a380ee);
    color: white;
}

.active:hover{
    background: linear-gradient(to right, #BEC8E9, #265df2);
    transform: scale(1.1);
    z-index: 2;
}

.hamburger {
    display: none;
    height: fit-content;
    cursor: pointer;
    padding: 3px 8px;
    border-radius: 5px;
    transition: 0.2s;
}

.hamburger:hover {
    background: white;
}

.hamburger div {
    width: 30px;
    height: 2px;
    margin: 6px 0;
    background: black;
}

.lekarze {
    width: 1000px;
    height: 648px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    position: fixed;
    right: 50px;
    background: url(./images/lekarze.png);
    background-size: cover; 
    animation: slide 20s infinite;
}


@keyframes slide{
    50%{
        background: url(./images/lekarze-radio.png);
        background-size: cover;
    }
}

.tekst {
    position: fixed;
    width: 700px;
    height: 300px;
    left: 200px;
    top: 350px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 350;
    font-size: 50px;
    line-height: 54px;
    color: #fefefe;
    text-shadow: 2px 0 20px 0 rgba(0, 0, 0, 0.05);
}

.ikony_dwa {
    margin-top: 648px;
    width: 100%;
    height: 200px;
    background: #fefefe;
    display: flex;
    align-items: center;
    font-weight: 600;
    justify-content: space-between;
    padding: 0 40px;
}

.obrazek_jeden{
    float: left;
    width: 100px;
    text-align: center;
}

footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    background: linear-gradient(to right, #bfccf8, #9574dd);
    color: #fefefe;
    padding: 10px 0;
    border-top-left-radius: 125px;
    font-size: 15px;
    line-height: 20px;
}

.foo {
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.col-1 {
    flex-basis: 25%;
    padding: 30px;
}

.col-1 h3 {
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
}

.email-id {
    width: fit-content;
    border-bottom: 1px solid #ccc;
    margin: 20px 0;
}

.col-1 ul li {
    margin-top: 30px;
    list-style: none;
    margin-bottom: 10px;
}

.col-1 ul li a {
    text-decoration: none;
    color: #fefefe;
}

.sociale {
    margin-top: 30px;
    display: flex;
    align-items: center;
}

.sociale .circle {
    font-size: 20px;
    color: #000;
    background: #fefefe;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    margin-right: 15px;
    cursor: pointer;
}

.circle:hover{
    transform: scale(1.2);
}

hr {
    border: 0;
}

.copyright {
    font-size: 20px;
    text-align: center;
    font-weight: 700;
}

.footer-text{
    margin-top: 30px;
    text-align: justify;
}

.badania {
    box-sizing: border-box;
    width: 220px;
    height: 75px;
    font-size: 20px;
    margin-right: 50px;
    background: linear-gradient(to right, #100f4287, black);
    border-radius: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 1s;
}

.badania:hover {
    transform: scale(1.2);
    z-index: 2;
}

.alertDiv{
    color: red;
    margin: 0 auto; 
    text-align: center;
    margin-bottom: 10px;
}

.elastyczny-cennik{
    margin-top: 10px;
    font-weight: 400;
}

.cennik {
    color: #fefefe;
    font-size: 40px;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.badanie-cennik{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.cennik .badania {
    margin-left: 40px; 
}

@media (max-width: 1000px) {
    .cennik {
        font-size: auto;
    }
    .badania {
        width: auto;
        height: auto;
        font-size: auto;
    }
}

.patroni {
    background-color: #fefefe;
    color: #351d69;
    height: 800px;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    padding-top: 40px;
}

.patroni-logo{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.patroni-logo img{
    width: 300px;
    cursor: pointer;
    margin-bottom: 20px;
    margin-left: 20px;
}

.umow_sie {
    background: linear-gradient(to right, #BEC8E9, #a380ee);
    height: auto;
    text-align: center;
    padding-top: 10px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.umow_sie_tekst{
    color:#351d69;
    margin-top: 25px;
    font-weight: 700;
    font-size: 40px;
}
.umow_sie_tekst2{
    margin-top: 10px;
    font-size: 30px;
}

.btn_znajdz{
    background: linear-gradient(to right, #100f4287, black);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    height: 50px;
    margin-top: 20px;
    margin-bottom: 50px;
    width: 200px;
    color: #fefefe;
    font-size: 20px;
    transition: 1s;
}

.btn_znajdz:hover {
    transform: scale(1.2);
    z-index: 2;
}

.informacja {
    background-color: #fefefe;
    height: 400px;
}
.informacja-dwa{
    display: flex;
    text-align: center;
}

.aktualizacje{
    text-align: center;
    font-weight: 350;
    font-size: 40px;
    padding-top: 30px;
}

.tekst-aktualizacje{
    font-size: 25px;
    margin-left: 50px;
    margin-top: 70px;
    text-align: justify;
}

.logo-aktualizacje {
    width: 300px;
    margin-left: 100px;
}

.aktualizacje-btn{
    width: 200px;
    height: 50px;
    margin-top: 40px;
    margin-left: 1000px;
    border-radius: 20px;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: #100F42;
    color: #fefefe;
    font-size: 20px;
    transition: 1s;
}

.aktualizacje-btn:hover{
    transform: scale(1.2);
    z-index: 2;
}

.tekst-dataWykresy{
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
}

.tekst-dataWykresy2{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
}

.ankieta-cd{
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.ankieta-cd p{
    font-weight: 600;
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 40px;
}

.ankieta-cd i{
    margin-left: 5px;
    color: #fefefe;
}

.ankieta-cd i:hover{
    transform: scale(1.3);
}

.linia{
    margin-left: 20%;
    width: 60%;
    height: 1px;
    background-color: #ccc;
}

.dataAnalize2 .linia{
    margin-top: 50px;
}

.tekst-analiza2{
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
}

.edit-text{
    width: 100%;
    height: 99px;
    border: none;
}

.edit-text:hover{
    border: 1px solid black;
    border-radius: 2px;
}

.edit-text:focus{
    outline: none;
    border: 1px solid black;
    border-radius: 2px;
}

.tekst-doctor3{
    font-size: 20px;
    text-align: left;
    margin-left: 95px;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: 600;
}

.lekarze-wybor{
    height: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.lekarz-wybierz{
    text-align: center;
    margin-top: 50px;
    font-size: 40px;
    font-weight: 600;
    color: #100F42;
}

.lekarz-wybierz2{
    text-align: center;
    margin-top: 10px;
    font-size: 40px;
    font-weight: 600;
    color: #100F42;
}

.lekarz-logo{
    margin: 50px 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.lekarz-logo img{
    width: 250px;
    height: 250px; 
    object-fit: cover; 
    border-radius: 50%;
}

.lekarz-btn:first-child {
    margin-right: 50px; 
}

.lekarz-btn{
    width: 200px;
    height: 40px;
    margin-top: 20px;
    color: #fefefe;
    font-size: 20px;
    border: none;
    border-radius: 20px;
    background-color: #36b707;
    cursor: pointer;
}

.lekarz-btn:hover {
    background: linear-gradient(to right, #36b707, #ddf104);
}

.daneSzczegoloweContainer {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center; 
    text-align: center;
}

.wykresy-szczegolowe{
    background: #fefefe;
    border-radius: 20px;
    height: 300px;
    width: 1000px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 50px; 
}

.wykresy-wykr{
    background: #fefefe;
    margin-top: 50px;
    border-radius: 20px;
    padding: 20px;
    height: 400px;
    width: 1000px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wykresy-wynik{
    background: #fefefe;
    border-radius: 20px;
    height: 50px;
    width: 200px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.dataAnalizeSquare .wykresy-wynik{
    margin-top: 50px;
    background: #fefefe;
    border-radius: 20px;
    height: 100px;
    width: 250px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.wykresyContent{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.paczka{
    background-color: rgba(255, 255, 255, 0.2);
    height: 500px;
    width: 75%;
    margin: 0 auto;
    border-radius: 40px;
}

.paczka_blog{
    background-color: rgba(255, 255, 255, 0.2);
    height: 450px;
    width: 1000px;
    margin: 0 auto;
    border-radius: 40px;
}

.daneSzczegolowe{
    height: 2350px;
}

.lekarz-med{
    font-size: 20px;
    color: #100F42;
    margin-top: 10px;
}

.profesja{
    margin-top: 10px;
}

.doctorAccDiv{
    height: 950px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lekarzeDatabase{
    height: 1170px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wysoko_addDoctor{
    height: 1100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wysoko_price{
    height: 1050px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.doctor-form{
    background: #fefefe;
    border-radius: 20px;
    padding: 30px;
    width: 700px;
    text-align: justify;
    margin-top: 40px;
}

.doctor-form-input{
    padding: 10px; 
    margin: 5px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    font-size: 19px; 
}
  
.file-container i{
    margin-top: 10px;
    cursor: pointer;
    font-size: 30px;
    color: black;
}

.file-container i:hover{
    color: #0056b3;
}

@media screen and (max-width: 800px){
    .doctor-form{
        width: auto;
        padding: 20px;
    }

    .lekarzeDatabase{
        height: 900px;
    }

    .tble-cennik .edit-btn, .delete-btn {
        margin: 5px;
    }

    @media screen and (max-width: 576px){
        .lekarzeDatabase{
            height: auto;
        }

        .tble-cennik{
            margin-bottom: 70px;
        }
    }
} 

.doctoruser-form {
    background: #fefefe;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
}

.doctoruser-form input[type="text"] {
    padding: 10px; 
    margin: 5px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    font-size: 19px; 
}

.doctoruser-form select{
    padding: 10px; 
    width: 260px;
    margin: 5px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    font-size: 19px; 
}

.add-inpt{
    text-align: center;
}

.wybor_lekarza{
    text-align: center;
    margin-bottom: 10px;
    height: 52px;
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
}

.id_leka{
    text-align: center;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
}

.id_leka2{
    margin-left: 10px;
    height: 52px;
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
}

.id_leka3{
    margin-left: 10px;
    height: 52px;
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
}

.dataAnalize{
    height: 1900px;
}

.dataAnalize2{
    height: 2220px;
}

.dataAnalize2 img{
    width: 200px;
    margin-top: 50px;
}

.dataAnalizeSquare{
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.2);
    height: 500px;
    width: 75%;
    margin: 0 auto;
    border-radius: 40px;
}

.dataAnalizeSquare2{
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.2);
    height: 800px;
    width: 75%;
    margin: 0 auto;
    border-radius: 40px;
}

.ikona_powrot{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.ikona_powrot i{
    font-size: 30px;
    text-decoration: none;
    color: #fefefe;
}

.ikona_powrot i:hover{
    transform: scale(1.3);
}

.miaryStat {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}
.slct-miara{
    width: 200px;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    border: none;
    margin-right: 20px;
}

.laczenie{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.laczenie .new_lekz{
    margin-top: 20px;
    margin-bottom: 10px;
}

.select-prof{
    width: 220px;
    padding: 10px;
    text-align: center;
    border: 1px solid #ccc; 
    border-radius: 5px; 
    font-size: 19px;
}

.new_lekz{
    width: 220px;
    padding: 10px;
    text-align: center;
    border: 1px solid #ccc; 
    border-radius: 5px; 
    font-size: 19px;
    margin: 0 10px;
}

.miaryStat .lekarz-btn{
    margin-top: 30px;
    margin-left: 20px;
}

.slct-wrapper {
    text-align: justify;
    margin: 0 10px;
}

.slct-wrapper p{
    margin-top: 10px;
    font-size: 18px;
    margin-bottom: 8px;
}

.wykresy {
    background: #fefefe;
    border-radius: 20px;
    height: 300px;
    width: 500px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto; 
}  

.dataAnalize img{
    width: 200px;
    margin-top: 50px;
}

.messageSent{
    color: red;
    margin-top: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.messageSent2{
    color: red;
    margin-bottom: 20px;
}

.messageSent3{
    color: red;
    margin-bottom: 20px;
}

.messageSent3 p{
    margin-bottom: 10px;
}

.blog_brakdan{
    margin-top: 10px;
    font-size: 25px;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.blog_brakdan i{
    margin-top: 10px;
    text-decoration: none;
    color: #fefefe;
}

.doc-chosen{
    height: 1000px;
}

.btn-chosen{
    text-align: center;
    margin-top: 20px;
}

.contact-site{
    font-size: 20px;
    text-align: center;
    height: 900px;
    margin-top: 50px;
}

.contact-form{
    margin-top: 50px;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.email-hldr{
    padding: 10px; 
    margin: 5px; 
    margin-bottom: 20px;
    border: 1px solid #ccc; 
    border-radius: 5px; 
    font-size: 20px; 
}

.contact-form i{
    font-size: 20px;
}

.message-inpt {
    border: 1px solid #ccc;
    box-shadow: 2px 0 20px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin-top: 20px;
    font-size: 20px;
    height: 250px;
    width: 800px;
    padding-left: 15px;
    padding-top: 15px;
}

    @media only screen and (max-width: 500px) {
        .message-inpt {
            height: 200px;
            width: 350px;
        }
    }

.blog_adding{
    height: 1420px;
}

.blog-form{
    margin-top: 30px;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.blog-form input[type="file"]{
    width: 250px;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.pagination a {
    display: block;
    padding: 10px 15px;
    margin: 0 5px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.pagination a.active {
    background-color: #007BFF;
}

.pagination a:hover {
    background-color: #0056b3;
}

.file-input {
    display: none;
}

.blog-form i{
    cursor: pointer;
    margin-top: 20px;
    font-size: 30px;
    color: #fefefe;
}

.blog-form i:hover{
    color: #0056b3;
}

.file-name{
    margin-top: 10px;
}

.blog-obrazek img{
    width: 250px;
    height: 250px; 
    border-radius: 50%;
}

.blog-tekst{
    text-align: justify;
    max-width: 1400px; 
    font-size: 20px;
    margin: 0 auto;
    margin-top: 20px;
}

.blog-strona{
    height: 1650px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 50px;
}

.validationMessage{
    margin-top: 5px;
    color: red;
}

.blad {
    font-size: 100px;
    margin-top: 100px;
}

.blad_strona{
    height: 750px;
    text-align: center;
}

.brak_dostepu{
    margin-top: 25px;
    font-size: 40px;
}

.fa-solid.fa-ban {
    margin-top: 25px;
    font-size: 100px; 
}

.account{
    text-align: center;
    height: 850px;
    margin-top: 100px;
}

@media only screen and (max-width: 784px) {
    .account{
        height: 800px;
    }
}

.account h1{
    margin-bottom: 50px;
}

.account a {
    display: inline-block;
    padding: 30px 60px;
    margin: 20px;
    background: linear-gradient(to right, #100f4287, black);
    color: #ffffff; 
    text-decoration: none;
    font-size: 20px;
    border-radius: 5px;
    transition: background-color 0.3s; 
}
  
  
.account a:hover {
    background: linear-gradient(to right, #100f4287, rgb(222, 57, 57)); 
}

.doctorContent{
    display: flex;
    align-items: center; 
    justify-content: center;
    height: 1300px;
}

.wstep{
    height: 0px;
}

.doctorContent2{
    display: flex;
    align-items: center; 
    justify-content: center;
    height: 1250px;
}

@media only screen and (max-width: 600px) {
    .wstep_calendar {
        width: 100%; 
        max-width: 300px; 
        margin: 0 auto;
        margin-top: 40px;
    }

    .doctorContent2 .lekarz-logo2{
        margin-top: 20px;
    }

    .doctoruser-form{
        margin-top: 40px;
    }

    .btn-chosen .lekarz-btn{
        margin-bottom: 50px;
    }
}


.lekarz-logo2{
    margin: 0px 450px 350px 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.lekarz-logo2 img{
    width: 250px;
    height: 250px; 
    object-fit: cover; 
    border-radius: 50%;
}

.analizeForm{
    margin-top: 50px;
    height: 1100px;
    text-align: center;
}

.wstep_calendar{
    width: 450px;
    background: #fefefe;
    border-radius: 10px;
}

.calendar_icons{
    display: flex;
    align-items: center;
    padding: 25px 30px 10px;
    justify-content: space-between;
    height: 35px;
    cursor: pointer;
}

.calendar{
    padding: 20px;
}

.calendar ul{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    text-align: center;
}

.current_date{
    text-align: center;
    font-size: 25px;
    padding-top: 15px;
    font-weight: 500;
}

.calendar ul li{
    position: relative;
    width: calc(100% / 7);
}

.calendar .weeks li{
    font-weight: 600;
}

.calendar .days{
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
}

.calendar .days li{
    cursor: pointer;
    text-align: center;
    width: calc(100% / 7);
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.calendar .days li:hover{
    background: linear-gradient(to right, #BEC8E9, #265df2);
    color: #fefefe;
    border-radius: 50%;
}

.days li.inactive{
    color: #aaa;
}


.calendar .days li.active {
    background: linear-gradient(to right, #BEC8E9, #265df2);
    color: #fff; 
    border-radius: 50%; 
}

.godzinaWizyty {
    margin-top: 30px;
    text-align: center;
}

.tekst-wizyta{
    text-align: center;
    font-size: 28px;
    margin-bottom: 20px;
    font-weight: 500;
}

.tekst-wizyta .fa-regular{
    margin-right: 10px;
}

.przykladowa {
    background: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    margin-right: 20px;
}

.przykladowa:hover {
    background: #0056b3;
}

.selected-date{
    margin-top: 10px;
}

.selected-date .fa-solid{
    font-size: 20px;
}

.selected-hour{
    margin-top: 10px;
}

.messageSuccess {
    margin: 0px 0px 350px 0px;
    background-color: #fefefe;
    color: green; 
    border-radius: 10px; 
    padding: 20px;
    width: 400px; 
    height: 400px;
    text-align: center; 
}
  
.succesThanks {
    font-size: 30px; 
    margin-bottom: 50px; 
    margin-top: 30px;
}
  
.messageSuccess .fa-regular{
    font-size: 80px; 
    margin-bottom: 50px; 
}
  
.messageCancel {
    font-size: 22px; 
}

.succesfullContent{
    display: flex;
    align-items: center; 
    justify-content: center;
    height: auto;
    margin-top: 100px;
}

.priceSite{
    text-align: center;
    height: 850px;
    margin-top: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

@media only screen and (max-width: 560px) {
    .pricing {
        width: auto;
        max-width: 100%; 
    }
}

.pricing {
    background-color: #fff; 
    width: 500px; 
    border-radius: 10px;
    padding: 20px; 
    font-size: 18px;
}
  
.pricing h2 {
    text-align: center;
    font-size: 24px;
}
  
.pricing li {
    font-size: 18px; 
    text-align: left; 
    margin: 10px 0;
}

.warningInfo .fa-solid{
    font-size: 60px;
    color: red;
    margin-top: 20px;
}

.warningInfo p{
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
    font-weight: 600;
}

.myAccountSite{
    text-align: center;
    height: 1150px;
}

.myAccountSite h1{
    margin-top: 20px;
    margin-bottom: 20px;
}

.mojeWizyty{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tekst-wizytyMyAcc{
    margin-bottom: 20px;
    font-size: 20px;
}

.wyswietlanieMyAcc{
    margin: auto;
    display: flex;
    align-items: center;
    text-align: center;
    background: #fefefe;
    border-radius: 20px;
    padding: 20px;
    width: 800px;
    margin-bottom: 30px;
}

.wyswietlanieMyAcc img{
    width: 200px;
    height: 200px; 
    margin-left: 30px;
    object-fit: cover; 
    border-radius: 50%;
}

@media only screen and (max-width: 700px) {
    .wyswietlanieMyAcc {
        margin: auto;
        display: flex;
        flex-direction: column; 
        align-items: center;
        text-align: center;
        background: #fefefe;
        border-radius: 20px;
        padding: 10px;
        width: 100%; 
        margin-bottom: 30px;
    }

}

.resztaMyAcc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    margin-left: 50px;
    flex-grow: 1;
}

.resztaMyAcc i{
    margin-right: 5px;
}

.myAccBtn{
    cursor: pointer;
    margin-left: auto;
    margin-right: 50px;
    font-size: 20px;
    width: 130px;
    padding: 5px;
    border-radius: 20px;
    border: 2px solid red;
    background: #fefefe;
    color: red;
}

.count{
    display: flex;
    align-items: center; 
    justify-content: center;
    margin-bottom: 30px;
}

.count p{
    background-color: #fefefe;
    width: 250px;
    padding: 20px;
    border-radius: 10px;
    font-size: 20px;
}

.wynik{
    margin-left: 20px;
    font-size: 40px;
    color: red;
    font-weight: 800;
    width: 70px;
    padding: 8px;
    border-radius: 10px;
    background-color: #fefefe;
}

@keyframes rotateNumber{
    from{
      transform: rotateY(0deg);
    }
    to{
      transform: rotateY(360deg);
    }
}
  
.rotating-number{
    display: inline-block;
    animation: rotateNumber 2s linear infinite;
    transform-origin: center; 
}

.accountAdminLook{
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center;
    justify-content: flex-start; 
    height: 1050px;
}

.wysoko_adminLook{
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center;
    justify-content: flex-start; 
    height: 1050px;
}

.vtableUsers{
    display: flex;
    align-items: center; 
    justify-content: center;
    background: #fefefe;
    padding: 20px;
    width: 700px;
    border-radius: 20px;
}

.filtruj{
    width: 150px;
    height: 40px;
    margin-top: 20px;
    margin-left: 20px;
    color: #fefefe;
    font-size: 20px;
    border: none;
    border-radius: 20px;
    background-color: #36b707;
    cursor: pointer;
}

.filtruj:hover {
    background: linear-gradient(to right, #36b707, #ddf104);
}

.lookVis{
    margin-top: 20px;
    margin-bottom: 40px;
}

.lookVis p{
    font-size: 20px;
    margin-bottom: 5px;
}

.lookVis input{
    border-radius: 10px;
    margin-left: 10px;
    font-size: 20px;
    height: 50px;
    width: 200px;
    padding: 20px;
    text-align: center;
    border: none;
}

.wyrownanie table {
    border-collapse: collapse;
    border: 0;
}

.wyrownanie th,
.wyrownanie td {
    border: 0;
}

.tble-hpracy{
    background: #fefefe;
    border-radius: 20px;
    width: 700px;
    padding: 20px;
    margin-top: 20px;
}

.tble-hpracy table{
    width: 100%;
    border-collapse: collapse;
}

.tble-hpracy table th, td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
}

.tble-hpracy .edit-btn, .delete-btn {
    background-color: #007BFF;
    border-radius: 20px;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: 10px;
    transition: background-color 0.3s;
}

.tble-cennik{
    background: #fefefe;
    border-radius: 20px;
    width: auto;
    padding: 20px;
    margin-top: 20px;
}

.tble-cennik table{
    width: 100%;
    border-collapse: collapse;
}

.tble-cennik table th, td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
}

.tble-cennik .edit-btn, .delete-btn {
    background-color: #007BFF;
    border-radius: 20px;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: 10px;
    transition: background-color 0.3s;
}

.delete-btn:hover{
    background: linear-gradient(to right, #BEC8E9, #a380ee);
}

.edit-btn:hover{
    background: linear-gradient(to right, #BEC8E9, #a380ee);
}

.new-price-form{
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
    height: 25px;
    width: 100px;
    text-align: center;
}

.new-price-form:focus{
    outline: none;
}

#formContainer {
    display: none;
}

.pdsm{
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 600;
}

.ukrytyDiv button{
    margin-top: 5px;
    margin-left: 10px;
    background-color: #007BFF;
    border-radius: 20px;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.ukrytyDiv button:hover{
    background: linear-gradient(to right, #BEC8E9, #a380ee);
}

.settingi {
    background: #fefefe;
    border-radius: 10px;
    height: 30px;
    width: 110px;
    display: flex;
    justify-content: center; 
    align-items: center;
    text-align: center;
    cursor: pointer;
    margin: 0 auto; 
    margin-bottom: 20px;
}

.settingi i{
    margin-right: 5px;
}


.changePass{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fefefe;
    border-radius: 20px;
    padding: 30px;
    max-width: 800px;
}

.czy-napewno button{
    margin-top: 10px;
    padding: 5px 15px;
    margin-left: 20px;
    background-color: #007BFF;
    border-radius: 20px;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s;
}

.czy-napewno button:hover{
    background: linear-gradient(to right, #BEC8E9, #a380ee);
}

.czy-napewno p{
    margin-top: 10px;
}

@media only screen and (max-width: 710px) {
    .changePass{
        display: flex;
        flex-direction: column; 
        align-items: center;
        text-align: center;
        width: 100%; 
    }
}

.settings-inpt{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.mojeWizyty-container{
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
}

.haslo{
    font-size: 15px;
    text-align: center;
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 20px;
    border: 1px solid black;
}

.input-cntiner{
    display: flex;
    flex-direction: column;
}

.ankietaDaneWyniki{
    display: flex;
    align-items: center; 
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.ankietaDaneWyniki iframe{
    width: 90%;
    height: 250px;
    border-radius: 10px;
}

/* ================================ Responsywność ============================================= */

@media (max-width: 1500px) {

    .tekst{
        position:fixed;
        font-size: 40px;
        line-height: 54px;
        width: auto;
        height: auto;
        left: auto;
        top: auto;
        margin-top: 20px;
    }

    .lekarze{
        width: 800px;
        height: 600px;
        display: flex;
        align-items: center;
        position: fixed;
        top: 168px;
        right: auto;
    }

    .wstep{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .myAccountSite{
        text-align: center;
        height: 700px;
    }

    .priceSite{
        height: auto;
        margin-bottom: 50px;
    }

    .messageSuccess {
        margin: auto;
        margin-bottom: 40px;
    }

    .analizeForm{
        margin-top: 50px;
        height: 780px;
    }

    .doctorContent2{
        height: 1200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .doctorContent2 .lekarz-logo2{
        margin: auto;
        margin-top: 20px;
    }

    .wstep_calendar{
        width: auto;
        background: #fefefe;
        border-radius: 10px;
        margin-top: 30px;
    }

    .btn-chosen .lekarz-btn{
        width: 150px;
        height: 40px;
    }

    .blad_strona{
        height: auto;
        text-align: center;
        margin-bottom: 100px;
    }

    .blad {
        font-size: 80px;
        margin-top: 100px;
    }

    .blog-strona{
        height: auto;
    }

    .account{
        height: 440px;
    }

    .badania {
        width: auto;
        height: auto;
        padding: 20px;
        margin-top: 15px;
    }

    .umow_sie{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    footer {
        bottom: unset;
    }

    .col-1 {
        flex-basis: 100%;
    }

    .informacja {
        height: auto; 
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .informacja-dwa {
        flex: 1;
        justify-content: center;
    }

    .logo-aktualizacje {
        width: 100%; 
        max-width: 300px; 
        margin: 0; 
    }

    .tekst-aktualizacje {
        flex: 1; 
        max-width: 700px; 
        margin: 0 50px 0 20px; 
        margin-top: 0; 
    }

    .aktualizacje-btn {
        margin: 20px 0; 
        margin-left: 0; 
    }

    .patroni{
        height: auto;
    }

    .lekarze-wybor{
        height: auto;
    }

    .lekarzeDatabase{
        height: 700px;
    }

    .contact-site{
        text-align: center;
        height: 500px;
        margin-top: 50px;
        font-size: 17px;
    }
}

@media only screen and (max-width: 1100px) {
    .contact-site{
        text-align: center;
        font-size: 10px;
    }

    .changePass{
        width: 700px;
    }
    
    .message-inpt {
        height: 200px;
        width: 500px;
    }

    header {
        font-family: "Poppins";
        width: 90%;
        padding: 0 20px;
    }

    nav {
        position: absolute;
        left: -300px;
        top: 0;
        z-index: 999;
        width: 280px;
        height: 100vh;
        background-color: #fefefe;
        transition: 0.2s;
        box-shadow: 2px 0 20px 0 rgba(0, 0, 0, 0.05);
    }

    #nav_check:checked~nav {
        left: 0;
    }

    nav .logo {
        display: block;
        height: 70px;
        display: flex;
        align-items: center;
        margin-left: 30px;
    }

    nav ul li a {
        margin-bottom: 5px;
        padding: 10px 15px;
        margin-top: 5px;
    }

    nav ul {
        display: block;
        padding: 0 20px;
        margin-top: 30px;
    }

    .hamburger {
        display: block;
    }

    .wyswietlanieMyAcc{
        margin: auto;
        display: flex;
        align-items: center;
        text-align: center;
        background: #fefefe;
        border-radius: 20px;
        padding: 10px;
        width: auto;
        margin-bottom: 30px;
    }
    
    .wyswietlanieMyAcc img{
        width: 150px;
        height: 150px; 
    }

    .dataAnalize {
        height: auto; 
    }

    .dataAnalizeSquare {
        flex-direction: column; 
    }

    .miaryStat {
        flex-direction: column; 
    }

    .slct-miara {
        width: 100%; 
        margin-right: 0; 
    }

    .miaryStat .lekarz-btn {
        margin-top: 10px; 
        margin-left: 0; 
    }

    .wykresy {
        width: 50%; 
        height: 200px; 
        margin-bottom: 20px;
        margin-top: 20px;
    }

}

@media (max-width: 800px) {

    .tekst{
        position:fixed;
        font-size: 30px;
        line-height: 44px;
        width: auto;
        height: auto;
        left: auto;
        top: auto;
        margin-top: 60px;
    }

    .lekarze{
        width: 600px;
        height: 400px;
        display: flex;
        align-items: center;
        position: fixed;
        top: 368px;
        right: auto;
    }

    .wstep{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .badanie-cennik{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 600px) {
    .lekarze{
        width: 375px;
        height: 280px;
        display: flex;
        align-items: center;
        position: fixed;
        top: 488px;
        right: auto;
    }

    .logo-aktualizacje{
        display: none;
    }
}